@charset "UTF-8";
.container {
  max-width: 1400px;
  padding: 0 30px;
}

footer {
  position: relative;
  height: 180px;
  background-color: #FAFAFB;
  z-index: 10;
  box-shadow: 0 0px 5px 1px #b1b1b1;
  margin-top: 20px;
}

.footer_about, .footer_anything {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.footer_about h3, .footer_anything h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.footer_about a, .footer_anything a {
  padding-bottom: 8px;
}

.footer_contacts {
  display: flex;
  align-items: center;
}
.footer_contacts-logo {
  margin-right: 10px;
}
.footer_contacts-info {
  display: flex;
  flex-direction: column;
}
.footer_contacts .social {
  margin-top: 20px;
  font-size: 30px;
  color: #626262;
}
.footer_contacts .social i {
  margin-right: 10px;
}

header {
  background-color: #FAFAFB;
  position: relative;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0px 5px 1px #b1b1b1;
}
header .navbar {
  height: 50px;
}
header .navbar_logo {
  display: flex;
  align-items: center;
}
header .navbar_logo a {
  width: 50px;
}
header .navbar_logo a img {
  padding-top: 2px;
  width: 90%;
}
header .navbar_logo-text {
  text-transform: uppercase;
  font-weight: 900;
}
header .navbar_logo-text p {
  font-size: 12px;
}
header .navbar_logo-text span {
  font-size: 8px;
}
header .navbar_search {
  display: flex;
  position: relative;
  align-items: center;
}
header .navbar_search input {
  width: 100%;
  height: 30px;
  border: 1px solid rgba(177, 177, 177, 0.8);
  background-color: #fff;
  padding-left: 20px;
}
header .navbar_search button {
  height: 30px;
  width: 50px;
}
header .navbar_search i {
  font-size: 25px;
  color: #848D95;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(177, 177, 177, 0.8);
  background: #fff;
  transition: 0.2s;
}
header .navbar_search i:hover {
  color: #0095FF;
}
header .navbar_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .navbar_menu .navbar_link ul {
  display: flex;
}
header .navbar_menu .navbar_link ul li {
  font-size: 30px;
  margin-right: 20px;
}
header .navbar_menu .navbar_link ul li a {
  color: #848D95;
  transition: 0.2s;
}
header .navbar_menu .navbar_link ul li a:hover {
  color: #0095FF;
}
header .navbar_auth a {
  letter-spacing: 2px;
  padding: 7px 25px;
  font-weight: 700;
  margin-left: 10px;
  color: #626262;
  border: 1px solid #7AA7C7;
  border-radius: 3px;
  transition: 0.2s;
}
header .navbar_auth .btn-l {
  background-color: #E1ECF4;
}
header .navbar_auth .btn-l:hover {
  background-color: #B3D3EA;
}
header .navbar_auth .btn-r {
  color: white;
  background-color: #0095FF;
}
header .navbar_auth .btn-r:hover {
  background-color: #0077CF;
}

.home-content {
  margin-top: 70px;
}

.about {
  height: 200px;
  width: 100%;
  padding: 0 40px 0;
  display: flex;
  align-items: center;
  background-color: rgba(179, 211, 234, 0.1);
  color: #626262;
  box-shadow: 4px 10px 15px -15px #333;
  border: 1px solid rgba(51, 51, 51, 0.1);
}
.about_text h1 {
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #0077CF;
  text-transform: uppercase;
}
.about_img {
  width: 80%;
}
.about_img img {
  width: 100%;
}

.news {
  margin-top: 20px;
}

.news_big {
  width: 100%;
  height: 450px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
.news_big:hover {
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.4);
}

.news_big-content img {
  width: 100%;
  margin-bottom: 20px;
}
.news_big-content h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.news_big-footer {
  position: absolute;
  right: 5%;
  bottom: 0;
  color: #848D95;
}

.news_small {
  position: relative;
  height: 215px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}
.news_small:hover {
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.4);
}
.news_small .news_content img {
  width: 100%;
}
.news_small .news_content h2 {
  padding-top: 15px;
  font-size: 16px;
  font-weight: 700;
}
.news_small .news_footer {
  position: absolute;
  right: 5%;
  bottom: 0;
  color: #848D95;
}

.new_add-company {
  margin-top: 30px;
}
.new_add-company h2 {
  font-size: 18px;
  font-weight: 700;
}

.item {
  height: 200px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  transition: 0.3s;
  background-color: #FAFAFB;
  border-radius: 10px;
}
.item:hover {
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.4);
}
.item .company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0077CF;
}
.item .company_name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item .company_name span {
  color: white;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #E1ECF4;
  color: #626262;
  text-align: center;
  border-radius: 50%;
  line-height: 25px;
  transition: all 0.2s;
  text-decoration: none;
  margin-right: 10px;
}
.item .company_name h3 {
  font-weight: 700;
  font-size: 18px;
}
.item .company_more {
  display: flex;
  font-size: 13px;
}
.item .company_more p {
  margin-left: 15px;
}
.item .company_logo {
  display: flex;
  margin-top: 10px;
}
.item .company_info {
  padding: 0 0 0 20px;
  margin-top: 10px;
  color: #626262;
  font-size: 14px;
}
.item .company_contacts {
  font-size: 14px;
  color: #626262;
}
.item .company_contacts p {
  margin-bottom: 5px;
}
.item .btn_more {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.item_about {
  margin-top: 70px;
}

.item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item_header h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.item_header p {
  margin-bottom: 5px;
}

.item_body-content {
  height: 500px;
  font-size: 40px;
  border: 1px solid #333;
  padding-top: 200px;
  text-align: center;
}

.left-sidebar {
  position: fixed;
  margin-top: 50px;
  border-right: 0.2px solid rgba(177, 177, 177, 0.9);
  height: 52%;
}

nav {
  margin-top: 10px;
}

nav a {
  display: block;
  padding: 0px 0 0px 5px;
  outline: none;
  min-width: 200px;
  color: #333;
  text-transform: uppercase;
}

nav a .fa {
  font-size: 21px;
  width: 40px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  color: #626262;
  position: relative;
  left: 0;
  float: right;
}

nav a:hover {
  background: #E1ECF4;
  color: #0077CF;
}

nav a:hover .fa {
  color: #0077CF;
  background: #E1ECF4;
}

nav a .menu_name {
  font-size: 12px;
  font-weight: 400;
  line-height: 40px;
}

.login {
  margin-top: 80px;
}
.login_img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.login_img-text {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
}
.login_form {
  justify-content: center;
  background-color: #fff;
  padding: 24px;
  border: 1px solid rgba(51, 51, 51, 0.3);
}
.login_form label {
  font-size: 16px;
}
.login_form input {
  border: 1px solid rgba(104, 104, 104, 0.6);
  margin: 5px 0 30px;
  height: 35px;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
}
.login_form .password-input {
  margin-bottom: 0;
}
.login_form .forgot-password {
  float: right;
  color: #0077CF;
}
.login_form button {
  width: 100%;
  margin-top: 10px;
  height: 45px;
  border-radius: 5px;
  text-transform: uppercase;
}
.login_register {
  margin-top: 30px;
}
.login_register h3 {
  font-weight: 700;
}
.login_register a {
  margin: 0 0 0 10px;
  color: #0077CF;
}

.register {
  margin-top: 80px;
}
.register_img {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.register_form {
  justify-content: center;
  background-color: #fff;
  padding: 24px;
  border: 1px solid rgba(51, 51, 51, 0.3);
}
.register_form label {
  font-size: 16px;
}
.register_form input {
  border: 1px solid rgba(104, 104, 104, 0.6);
  margin: 5px 0 30px;
  height: 35px;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
}
.register_form .password-input {
  margin-bottom: 0;
}
.register_form p {
  color: #0077CF;
  font-size: 12px;
}
.register_form button {
  width: 100%;
  margin-top: 10px;
  height: 45px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.register_policy {
  margin-top: 30px;
}
.register_policy h3 {
  font-weight: 700;
}
.register_policy a {
  margin: 0 0 0 0;
  color: #0077CF;
}

.category-selected {
  font-size: 25px;
}
.category-selected span {
  font-weight: 700;
}

.news {
  margin-top: 70px;
}
.news_title {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: 900;
}
.news_img {
  margin-bottom: 20px;
}
.news_img img {
  width: 100%;
  height: 400px;
}

.more_news {
  margin-top: 30px;
}
.more_news-title {
  font-size: 20px;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.right-sidebar {
  margin-top: 70px;
}
.right-sidebar a {
  font-size: 14px;
  color: #0077CF;
}
.right-sidebar a p {
  margin-bottom: 10px;
}

.search-request {
  font-size: 20px;
}
.search-request span {
  font-weight: 700;
}

.advanced_search {
  background-color: rgba(179, 211, 234, 0.3);
  margin-top: 110px;
  border-radius: 5px;
  padding: 30px 10px;
  justify-content: center;
  transition: 0.3s;
}
.advanced_search:hover {
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
}
.advanced_search-btn {
  display: flex;
  justify-content: center;
}
.advanced_search select {
  padding: 5px 10px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-blue {
  padding: 10px 15px;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 3px;
  background-color: #0095FF;
  color: white;
  transition: 0.2s;
}
.btn-blue:hover {
  background-color: #0077CF;
}

.btn-blueish {
  padding: 10px 15px;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 3px;
  background-color: #E1ECF4;
  color: #333;
  border: 1px solid #7AA7C7;
  transition: 0.2s;
}
.btn-blueish:hover {
  background-color: #B3D3EA;
}

body {
  background-color: #fff;
  font-family: Montserrat;
  font-weight: normal;
}